

<html>

  <script>
    function toggle(id){
      let button = document.getElementById(id)

      if(button.value == "OFF"){
        button.value = "ON";
        button.style.backgroundColor = "green"
      }else{
        button.value = "OFF"
        button.style.backgroundColor = "red"
      }
    }
  </script>

  <head>
    <!-- define your title  -->
     <title>ECEN 4213 Dashboard</title>

    <style>
		body {
			text-align: center;
		}
    </style>
  </head>

  <body>

      <!-- image display module -->
      <h1>Live Streaming</h1>
      <img src="../static/img name.png" height="35%">

      <hr>

      <!-- sensor status display module -->
      <div>
        <!-- module 2 sensor tag: Bumper, wheelDrop, Cilff -->	
        <!-- sensor tag: Bumper, wheelDrop, Cilff -->

        <!-- Bumper Button OFF state -->
        <input style="font-size:40;height:150; width:300; border-radius:20px" type = "button" id = "bumperbutton" value = "Bumper" />
        <!-- Wheel Button OFF state -->
         <input style="font-size:40;height:150; width:300; border-radius:20px" type = "button" id = "wheelbutton" value = "WheelDrop" />
        <!-- Cliff Button OFF state -->
         <input style="font-size:40;height:150; width:300; border-radius:20px" type = "button" id = "cliffbutton" value = "Cliff" />

      </div>

      <div>
        <!-- module 2 sensor status: on, off,… -->
        <!-- Bumper Button ON state-->
        <input style="font-size:40;height:150; width:300; border-radius:20px; background-color:red" type = "button" id = "but1" value = "OFF" onclick="toggle('but1')"/>
        <!-- Wheel Button ON state-->
         <input style="font-size:40;height:150; width:300; border-radius:20px; background-color:red" type = "button" id = "but2" value = "OFF" onclick="toggle('but2')"/>
        <!-- Cliff Button ON state-->
         <input style="font-size:40;height:150; width:300; border-radius:20px; background-color:red" type = "button" id = "but3" value = "OFF" onclick="toggle('but3')"/>
      </div>
        


      <!-- D-pad module -->
      <div>
          <div>
            <!-- up button -->
          <input style="font-size:50;height:200px; width:200px; border-radius:20px" type = "button" id = "upbutton" value = "Up" />
          
          </div>
          
          <div>
          <!-- left, stop and right button -->
          <!-- Left Button -->
          <input style="font-size:50;height:200; width:200; border-radius:20px" type = "button" id = "leftbutton" value = "Left" />
          <!-- OFF Button -->
          <input style="font-size:50;height:200; width:200; border-radius:20px" type = "button" id = "stopbutton" value = "Stop" />
          <!-- Right Button -->
          <input style="font-size:50;height:200; width:200; border-radius:20px" type = "button" id = "rightbutton" value = "Right" />

          </div>
          
          <div>
          <!-- down button -->
          <input style="font-size:50;height:200; width:200; border-radius:20px" type = "button" id = "downbutton" value = "Down" />
          </div>
      </div>

  </body>
</html>
