<html>
	<head>
		<!-- define your title  -->

		<script>
			function turn_on_light()
			{
				// find out the id where you can to change the image
				element=document.getElementById('find the id')

				// select an image to display
				element.src="image path";
			}

			function turn_off_light()
			{
				// finsh this function ti display another image
			}

			
		</script>




	</head>


	<body>
		<!-- the description sentence  -->

		<!-- display the image -->


		<!-- to adjust the size of the image, you can modify  width="300px" height="400px" -->
		<center><img id='myimage' alt='write something' width="300px" height="400px" src="../static/img name"></center>
		
		<!-- to modify the position and size of the buttons, you can modify  style="position:relative;top:5%;left:30%" 
		and style="font-size:30;height:100px; width:200px;" -->
		<div  style="position:relative;top:5%;left:30%">
	      <input style="font-size:30;height:100px; width:200px;" type = "button" onclick="turn_on_light()" id = "turn_on" value = "None" />
	      <input style="font-size:30;height:100px; width:200px;" type = "button" onclick="turn_off_light()" id = "turn_off" value = "None" />
    	</div>




	</body>
</html>