

<html>
  <head>
    <title>ECEN4213 IoT</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    
    <script src="../static/parse_data.js"></script>


    <script type=text/javascript> $(function() { $("#upbutton").click(function (event) { $.getJSON('/UpFunction', { },
    function(data) { }); return false; }); }); </script> 

    <!-- add four more functions for the left, right, down and stop buttons -->
    <script type=text/javascript> $(function() { $("#button_id (change to corresponding button id in the D-pad)").click(function (event) { $.getJSON('/function_name (change to the function name used in the Python code)', { },
      function(data) { }); return false; }); }); </script> 


    <style>
		body {
			text-align: center;
		}
    </style>
  </head>

  <body>

      <!-- image display module -->
      <h1>Live Streaming</h1>
      <img src="{{ url_for('video_feed') }}" height="35%">

      <hr>

      <!-- sensor status display module -->
      <div>
        <input style="font-size:40;height:150; width:300;" type = "button" id = "disbutton" value = "Bumper" /> 
        <input style="font-size:40;height:150; width:300;" type = "button" id = "disbutton" value = "WheelDrop" /> 
        <input style="font-size:40;height:150; width:300;" type = "button" id = "disbutton" value = "Cliff" />
      </div>


      <div>
        <input style="font-size:40;height:150; width:300;" type = "button" id = "but1" value = "OFF" />
        <input style="font-size:40;height:150; width:300;" type = "button" id = "but2" value = "OFF" />
        <input style="font-size:40;height:150; width:300;" type = "button" id = "but3" value = "OFF" />
      </div>

      <hr>

      <!-- Joystick module -->
      <div>
        <script src="../static/joy.js"></script>
        
        <div   style="position:relative;top:40%;left:20%;height:600px;width:600px;color:black" id = "joy1"></div>
      </div>  

      <script type="text/javascript" >
          var joy = new JoyStick('joy1');//,joy1Param);
    
          
          function sendJoystick(){
              // get the x axis position xpos
              var xpos = joy.GetX();

              // todo: get the y axis position ypos
    
              const xhttp = new XMLHttpRequest();
    
              xhttp.open('POST', "/joydata",false);
              xhttp.setRequestHeader("Content-Type", "application/json");

              // todo: format xpos and ypos into a JSON message with the format: {"x": xpos, "y": ypos}
              const json = {    };

              xhttp.send(JSON.stringify(json));
          }
          setInterval(sendJoystick ,500);
      </script>

  </body>
</html>
