

<html>
  <head>
    <title>ECEN4213 IoT</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    
    <script src="../static/parse_data.js"></script>


    <!-- callback function for the upbutton pushing event -->
    <script type=text/javascript> $(function() { $("#upbutton").click(function (event) { $.getJSON('/UpFunction', { },
    function(data) { }); return false; }); }); </script> 

    <!-- add four more functions for the left, right, down and stop buttons -->
    <script type=text/javascript> $(function() { $("#button_id (change to corresponding button id in the D-pad)").click(function (event) { $.getJSON('/function_name (change to the function name used in the Python code)', { },
      function(data) { }); return false; }); }); </script> 




    <style>
		body {
			text-align: center;
		}
    </style>
  </head>

  <body>

    <!-- image display module -->
    <h1>Live Streaming</h1>
    <img src="{{ url_for('video_feed') }}" height="35%">

    <hr>

    <!-- sensor status display module -->
    <div>
      <!-- module 2 sensor tag: Bumper, wheelDrop, Cilff -->	
      <!-- sensor tag: Bumper, wheelDrop, Cilff -->
      <input style="font-size:40;height:150; width:300;" type = "button" id = "disbutton" value = "OFF" />
      <!-- add two more buttons here -->

    </div>

    <div>
      <!-- module 2 sensor status: on, off,… -->
      <input style="font-size:XX;height:XX; width:XX;" type = "button" id = "but1" value = "XX" />
      <!-- add two more buttons here -->
    </div>
      


    <!-- D-pad module -->
    <div>
        <div>
          <!-- up button -->
        <input style="font-size:50;height:200px; width:200px;" type = "button" id = "upbutton" value = "Up" />
        
        </div>
        
        <div>
          <!-- left, stop and right button -->
        <input style="font-size:XX;height:XX; width:XX;" type = "button" id = "leftbutton" value = "Left" />
        <!-- add two more buttons here -->
        </div>
        
        <div>
        <!-- down button -->
        <input style="font-size:XX;height:XX; width:XX;" type = "button" id = "XX" value = "XX" />
        </div>
    </div>

  </body>
</html>