<html>
	<head>
		<!-- define your title  -->
	</head>


	<body>
		<!-- the description sentence  -->

		<!-- finsh the src attribute. To adjust the size of the image, you can modify  width="300px" height="400px" -->
		<center><img id='myimage' alt='write something' width="300px" height="400px" src="../static/img name"></center>
		
		<!-- to modify the position and size of the buttons, you can modify  style="position:relative;top:5%;left:30%" 
		and style="font-size:30;height:100px; width:200px;" -->
		<div  style="position:relative;top:5%;left:36%">
	      <input style="font-size:30;height:100px; width:200px;" type = "button" id = "turn_on" value = "None" />
	      <input style="font-size:30;height:100px; width:200px;" type = "button" id = "turn_off" value = "None" />
    	</div>




	</body>
</html>