

<html>
  <head>
    <!-- define your title  -->

    <style>
		body {
			text-align: center;
		}
    </style>
  </head>

  <body>

      <!-- image display module -->
      <h1>Live Streaming</h1>
      <img src="../static/img name.png" height="35%">

      <hr>

      <!-- sensor status display module -->
      <div>
        <!-- module 2 sensor tag: Bumper, wheelDrop, Cilff -->	
        <!-- sensor tag: Bumper, wheelDrop, Cilff -->
        <input style="font-size:40;height:150; width:300;" type = "button" id = "disbutton" value = "OFF" />
        <!-- add two more buttons here -->

      </div>

      <div>
        <!-- module 2 sensor status: on, off,… -->
        <input style="font-size:XX;height:XX; width:XX;" type = "button" id = "but1" value = "XX" />
        <!-- add two more buttons here -->
      </div>
        


      <!-- D-pad module -->
      <div>
          <div>
            <!-- up button -->
          <input style="font-size:50;height:200px; width:200px;" type = "button" id = "upbutton" value = "Up" />
          
          </div>
          
          <div>
            <!-- left, stop and right button -->
          <input style="font-size:XX;height:XX; width:XX;" type = "button" id = "leftbutton" value = "Left" />
          <!-- add two more buttons here -->
          </div>
          
          <div>
          <!-- down button -->
          <input style="font-size:XX;height:XX; width:XX;" type = "button" id = "XX" value = "XX" />
          </div>
      </div>

  </body>
</html>
